# Default ignored files
/shelf/
/workspace.xml
/tasks.xml
/usage.statistics.xml
/dictionaries/
/gradle.xml
/sonarlint/
/inspectionProfiles/    
# User-specific files
/.idea_modules/
/.idea_workspace.xml    
/.idea_misc.xml
/.idea_codeStyles.xml
/.idea_httpRequests/
/.idea_dataSources.xml
/.idea_dataSources.local.xml
/.idea_sqlDataSources.xml
/.idea_sqlDataSources.local.xml
/.idea_dynamic.xml
/.idea_caches/
/.idea_repositories.xml
/.idea_webServers.xml
/.idea_deployment.xml
/.idea_runConfigurations.xml
/.idea_tasks.xml
/.idea_tasks_local.xml
/.idea_jspProfiles.xml
/.idea_codeQuality/
/.idea_devkit.xml
/.idea_plugins.xml
/.idea_uiDesigner.xml
/.idea_gradle.xml
/.idea_vcs.xml
/.idea_junit.xml
/.idea_maven.xml
/.idea_bazel.xml
/.idea_kubernetes.xml
/.idea_docker.xml
/.idea_aws.xml
/.idea_google_cloud.xml
/.idea_heroku.xml

# Sensitive or large files
/.idea_sslCertificates.xml




/.idea_remoteServers.xml
/.idea_shelf/




/.idea_httpRequests/EphemeralRequests.json
/.idea_codeStyles/Project.xml



/.idea_codeStyles/Local.xml
/.idea_codeStyles/Default.xml
/.idea_codeStyles/Other.xml
/.idea_codeStyles/Profiles_settings.xml 


/.idea_inspectionProfiles/Project_Default.xml
/.idea_inspectionProfiles/Default.xml
/.idea_inspectionProfiles/Profiles_settings.xml
/.idea_inspectionProfiles/Local.xml
/.idea_inspectionProfiles/Other.xml